<h1 class="text-6xl text-center my-6 bg-purple-500 text-white rounded-2xl p-2">Our Groceries</h1>
<section>
  <h2 class="text-2xl text-center">Share your grocery list with anybody, around the world!</h2>
  <%= image_tag "OurGroceries.png", loading: "lazy", alt: "Desktop view of OurGroceries App", class: "my-6 hidden md:block" %>
  <%= image_tag "OurGroceries-Mobile.jpg", loading: "lazy", alt: "Mobile view of OurGroceries App", width: "400", class: "my-6 m-auto block md:hidden" %>
</section>