<h1 class="block w-full text-center text-xl mb-6 text-grey-600">Editing Grocery List</h1>
<%= render 'form', grocery_list: @grocery_list %>

<%= link_to 'Back', grocery_lists_path, class: "text-lg text-purple-600 hover:text-purple-400 hover:bg-transparent" %>