<%= render "shared/notice", notice: notice %>

<h1 class="block w-full text-center text-xl mb-6 text-grey-600">Grocery Lists</h1>

<%= turbo_stream_from "grocery_lists" %>
<div id="grocery_lists">
  <%= render @grocery_lists %>
</div>
