<% if notice %>
  <div class="w-full m-auto justify-items-center flex">
    <div id="notice" class="m-auto p-2 bg-yellow-500 items-center text-white lg:rounded-full flex lg:inline-flex mb-2" role="alert">
      <span class="flex rounded-full bg-yellow-800 uppercase px-2 py-1 text-xs font-bold mr-3">!</span>
      <span class="font-semibold mr-2 text-left flex-auto"><%= notice %></span>
    </div>
  </div>
<% end %>