<%= tag.div id: dom_id(invitation) do %>
  <div class="flex mt-2 items-center">
    <h3 class="flex-1 text-lg"><%= invitation.grocery_list.name %></h3>
    <p class="mr-5">From: <%= invitation.user.email %></p>
    <%= link_to "Accept", grocery_list_invitation_path(invitation.grocery_list, invitation), method: :put, class: "mb-2 text-center block bg-yellow-500 hover:bg-yellow-700 uppercase p-1 rounded text-green visited:text-white" %>
  </div>
<% end %>